@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://use.typekit.net/hbx6hnl.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Inter', sans-serif;
  color: #2D3230;
}
.svg-container .main-svg {
  background: transparent !important;
  max-width: 100%;
}
.svg-container {
  width: 100%;
}

.link,
.ql-snow a,
.wysiwyg-render a {
  color: #769883 !important;
  transition: all 0.4s;
  text-decoration: underline;
  font-weight: 500;
}
.link:hover,
.ql-editor a:hover,
.ql-snow a:hover,
.wysiwyg-render a:hover {
  opacity: 0.7;
}

.ql-editor p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  color: #2D3230;
  text-align: justify;
}

input, textarea {
  background-color: #FFFDED;
  border: 1px solid #769883;
  border-radius: 0.65rem;
  padding: 0.25rem 0.75rem;
}
input:focus, textarea:focus {
  outline: 1px solid #769883;
  border: 1px solid #769883;

}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* farcaster & twitter embed */
.farcaster-embed-container {
  color: #f7f9f9;
  background-color: #15202b;
  border-radius: 12px;
}
.twitter-tweet {
  margin: 0 auto !important;
}